.BgBlock {
  position: absolute;
width: 100%;
height: 625px;
left: 0px;
top: 50px;

background: rgba(0, 94, 184, 0.05);
}

.NavBar {
position: absolute;
width: 100%;
height: 50px;
left: 0px;
top: 0px;

background: #005EB8;
box-shadow: 0px 5px 4px rgba(0, 94, 184, 0.25);
}

.PickText {
  position: absolute;
  width: 199px;
  height: 27px;
  left: calc(50% - 199px/2 - 0.5px);
  top: calc(50% - 27px/2 + 5.5px);
  
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  
  
  color: #000000;
}

.search {
position: absolute;
width: 216px;
height: 38px;
left: calc(50% - 216px/2);
top: calc(50% - 38px/2 + 38px);

background: #FFFFFF;
border: 1px solid rgba(0, 94, 184, 0.25);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
font-family: Raleway;
padding-left: 15px;
padding-right: 15px;
}

.BlitzBroadcast {
  position: absolute;
width: 188px;
height: 27px;
left: calc(1%);
top: calc(25%);

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 27px;


color: #FFFFFF;
}